<div class="top_container">
  <div class='main-image layer'>
    <div class='layer-txt'>Connect</div>
    <br>
    <p>【この街について知りたい】</p>
    <div class = "crude"><p>地元民絶賛のスポットを巡ってみませんか？</p></div>
    <br>
    <p>【地元のスポットを知って欲しい】</p>
    <div class = "crude"><p>みんなに地元を【シェア】【案内】してみませんか？</p></div>

    <hr class="line">
    <%= image_tag '/images/スクリーンショット 2021-06-15 0.25.12.png', class:'top-images img-fluid' %>

    <div class="top_text">
      <p>みんなの地元の穴場スポットを見てみよう</p><br>
      <p>あなたのお気に入りの場所<br>
      思い出の場所を投稿して共有しよう</p>
    </div>

    <%= image_tag '/images/スクリーンショット 2021-06-15 0.25.36.png', class:'top-images img-fluid' %>

    <div class="top_text top_bottom">
      <p>お気に入りの場所に実際に行ってみましょう<br>
      そこから感じられた事をコメントに残そう<br></p>
    </div>


  </div>
</div>
<%= render 'footer'  %>




