<div class='main-image layer'>
  <div class='layer-txt'>Connect</div>
  <br>
  <p>【この街について知りたい】</p>
  <div class = "crude"><p>地元民絶賛のスポットを巡ってみませんか？</p></div>
  <br>
  <p>【地元のスポットを知って欲しい】</p>
  <div class = "crude"><p>みんなに地元を【シェア】【案内】してみませんか？</p></div>
</div>
<%= render 'footer'  %>




