<div class="top_container">
  <div class='main-image layer'>
    <div class='layer-txt'>Connect</div>
    <br>
    <p>【この街について知りたい】</p>
    <div class = "crude"><p>地元民絶賛のスポットを巡ってみませんか？</p></div>
    <br>
    <p>【地元のスポットを知って欲しい】</p>
    <div class = "crude"><p>みんなに地元を【シェア】【案内】してみませんか？</p></div>

    <hr class="line">
    <%= image_tag asset_path('スクリーンショット 2021-06-15 0.25.12.png'), class:'top-images img-fluid' %>

    <div class="top_text">
      <p>みんなの地元の穴場スポットを見てみませんか<br>
      ああああ</p>
    </div>




    <%= image_tag asset_path('スクリーンショット 2021-06-15 0.25.36.png'), class:'top-images img-fluid' %>


  </div>
</div>
<%= render 'footer'  %>




