<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h2>ユーザー</h2>
  <% @users.each do |user| %>
    <%= user.name %>
    <%= user.email %>
    <%= render 'follow_form', user: user %>
  <% end %>