#comments_area {
  display: flex;
  display: block;
}


.show_comments {
  margin-top: 0;
  overflow: scroll;
  max-height: 300px;
  flex-direction: column;
  word-wrap:break-word;
  max-width: 100%;
  margin-left: 15px;
}

.comment_list {
  display: flex;
  flex-direction: column;
  max-width: 100px;
}

.edit_delete {
  display: flex;
}

.edit_delete p{
  display: flex;
  margin-left: 5px;
}

.comment-content a {
  color: red;

}
