html {
  // font-size: 62.5%;
  height: 100%;
}

body{
  height: 100%;
  background-color: rgb(255, 228, 228);
  }

.layer {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.main-image {
  background-image: image-url("top-content-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  height: 0px;
  padding-top: 46.7%;
}

.crude {
  color: blue;
}

.item_bar {
  width: 90px;
  display:inline-block;
  margin: 0 10px;

}

.item_bar a {
  color: rgb(247, 184, 56);

}

.fixed-bottom {
  background-color: rgb(246, 246, 246);
  margin-top: 120px;
}

.top_menu_bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: auto 0;
  margin: 0 10px;
}



.footer {
  position: absolute;
  bottom: 0;
 
  background-color: #f5f5f5;
  font-size: 1.5rem;

}





.footer-text {
  padding-top: 10px;
}

.header {
  // background-color: rgb(242, 242, 242);
  // width: 100%;
  // height: 50px;
  // display: flex;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 50px;
  /* 以下を追加 */
  position: relative;
  top: 0;
  width: 100%;
  z-index: 0
}


.container {
  min-height: 110vh;/*①高さの最小値*/
  position: relative;/*②相対位置*/// width: 100%;
  margin: 0 auto;
 
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  width: 100%;
}


.divise_form {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.layer-txt {
  position: absolute;
  top: 65%;
  left: 60%;
  font-size: 5vw;
  color: #ffffff;
}


#logo {
  display: flex;
  width: 90px;
  height: 50px;
  align-items: center;
}
.navbar-brand {
  padding: 0;

}

.alert_plece {
  width: 100%;
}

.content_inner {
  text-align: center;
}